svg {
  background-color: #ddd;
}

#frame {
  fill: transparent;
}

.axis {
  fill: black;
}

.bar {
  fill: darkgrey;
}

#number_of_files {
  stroke: red;
}

#number_of_files text {
  fill: red;
}

#number_of_files path {
  stroke-width: 2px;
  fill: none;
}

#number_of_lines {
  stroke: steelblue;
}

#number_of_lines text {
  fill: steelblue;
}

#number_of_lines path {
  stroke-width: 2px;
  fill: none;
}

#lpf {
  fill: none;
  stroke: #797;
  stroke-width: 1.5px;
}